.columns-picker__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > * {
    margin: 40px 0;
  }
  .columns-picker__buttons {
    display: grid;
    grid-gap: 20px;
    button {
      cursor: pointer;
      width: 200px;
      height: 200px;
      margin: 0 20px;
      background-color: bisque;
      //box-shadow: 0 0 5px 10px #ffffff;
      font-size: 26px;
      color: white;
      font-weight: 900;
      text-shadow: 0 0 1px black;
      transition: all 200ms ease-out;
      border-radius: 20px;
      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}

@media (min-width: 1001px) {
  .columns-picker__buttons {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .columns-picker__buttons {
    grid-template-columns: repeat(3, 1fr);
  }
}
