.columns-picker__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > * {
    margin: 40px 0;
  }
  .columns-picker__buttons {
    button {
      cursor: pointer;
      width: 200px;
      height: 200px;
      margin: 0 10px;
      background-color: bisque;
      //box-shadow: 0 0 5px 10px #ffffff;
      font-size: 26px;
      font-weight: 300;
    }
  }
}
