.csv-uploader__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > * {
    margin: 40px 0;
  }
  .csv-uploader__dropzone {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px dashed bisque;
    font-size: 28px;
    background-color: rgb(34, 34, 34);
  }
  .csv-uploader__label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  #csv-uploader__input {
    opacity: 0;
    position: absolute;
  }
}

@media (max-width: 600px) {
  .csv-uploader__dropzone {
    width: 70%;
    height: 400px;
    padding: 0 20px;
  }
}

@media (min-width: 601px) {
  .csv-uploader__dropzone {
    width: 300px;
    height: 300px;
  }
}
